body {
	background: #000;
	padding: 75px 0px;
	
}
.container {
	display: flex;
	flex-direction: column;
  align-items: center;
}

.videos {
	width: 100%;
}
.videos__wrapper {
	width: 408px;
	margin: 0 auto;
	position: relative;
}
.video_item {
	padding-top: 56.25%;
}
.video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}



.music_links {
	margin-top: 50px;
	margin-bottom: 40px;
}
.music_link {
	position: relative;
box-sizing: border-box;
width: 366px;
height: 58.82px;
border: 3px solid #FFFFFF;
border-radius: 25px;
}
.music_link:not(:last-child) {
	margin-bottom: 36px;
}
.svg_music {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 8px;
}
.music_link_a {
position: absolute;
width: 100%;
height: 100%;
border-radius: 25px;
text-decoration: none; 
color: inherit;
display: flex; 
justify-content: center; 
align-items: center;
color: #FFFFFF;

font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
/* identical to box height */
text-align: center;

}
.appl {
	background-color: #F50057;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.appl:hover, .appl:focus {
	background-color: rgb(195, 0, 68);
}
.spoty {
	background-color: #49AF51;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.spoty:hover, .spoty:focus {
	background-color: #36833d;
}
.youtu {
	background-color: #F40000;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.youtu:hover, .youtu:focus {
	background-color: #aa0101;
}

.link_mob-ul {
  display: flex;
  justify-content: center;
}
.link_mob-li-icon {
	width: 40px;
	height: 40px;
}
.link_mob-li-icon:not(:last-child) {
	margin-right: 20px;
}
.svg {
	width: 40px;
	height: 40px;
}
.link_mob-a-icon {
	display: flex;
	background-color: #fff;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link_mob-a-icon:hover, .link_mob-a-icon:focus {
	background-color: #78FF43;
}


@media screen and (min-width: 768px) { 
	.videos__wrapper {
		width: 768px;
	}
	.music_links {
		margin-bottom: 115px;
	}

	.music_link {
	width: 550px;
	height: 80px;
	}
	.music_link:not(:last-child) {
		margin-bottom: 50px;
	}
	.svg_music {
		width: 45px;
		height: 45px;
		top: 16px;
		left: 16px;
	}
	.link_mob-ul {
		margin-bottom: 50px;
	}
	.link_mob-li-icon {
		width: 90px;
		height: 90px;
	}
	.link_mob-li-icon:not(:last-child) {
		margin-right: 65px;
	}
	.svg {
		width: 90px;
		height: 90px;
	}
}

@media screen and (min-width: 1240px) {
	.videos__wrapper {
		width: 1240px;
	}
	.music_links {
		margin-top: 90px;
		margin-bottom: 150px;
	}
}